.accessheader {
  text-align: center;
  font-size: 40px;
}

.accesstext {
  padding-left: 20%;
  padding-right: 20%;
  font-size: larger;
}

.bullet {
  list-style-type: disc; /* Default bullet style */
  margin: 20% 0; /* Margin above and below the list */
  padding-left: 40%; /* Indent the list from the left */
}
