.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  padding-top: 1%; /* Reduced padding */
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 1%;
  width: 38%;
  margin-top: 0; /* Ensure no additional margin */
}

.header h1 {
  margin-bottom: 1em; /* Add more space below the heading */
}

.header p {
  margin-top: 1em; /* Add more space above the paragraph */
  padding-top: 0;
  font-size: larger;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2%; /* Adjust the margin to reduce space */
  margin-top: 3em;
}

.main-image {
  width: 90%;
}

.testimonial {
  width: 100%;
  text-align: center;
  font-size: larger;
}

.testimonial-image {
  width: 90%;
  padding-bottom: 7%;
}

.about {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: larger;
  text-align: center;
}

.how-it-works {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the flex container */
  width: 100%;
  padding: 2% 10%; /* Add padding for spacing */
  font-size: larger;
}

.how-image {
  width: 90%;
  margin-right: 2%; /* Adjust the margin to reduce space */
}

.how-column {
  flex: 1;
  padding: 1%; /* Add padding to balance spacing */
  width: 100%;
}

.how-column:nth-child(2) {
  flex: 0.02; /* Adjust flex to balance space between columns */
}

.how-column:nth-child(3) {
  flex: 1.1;
  text-align: left;
  padding-left: 7%;
  padding-right: 10%;
  max-height: 600px; /* Set a max height for the scroll box */
  overflow-y: auto; /* Enable vertical scrolling */
}

.join {
  text-align: center;
  padding-top: 7%;
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 1%;
  width: 38%;
}

.contact-info {
  text-align: center; /* Center the text */
  width: 80%; /* Adjust the width */
  margin: 0 auto; /* Center the container */
  padding-top: 2em; /* Add some padding on top */
}

.join-button {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  font-weight: 500;
}

.gallerybody {
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 1%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  width: 95%;
  max-width: 1480px;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 0%;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  justify-content: center;
}
.gallery img:hover {
  transform: scale(1.05);
}

.icecreampic {
  transform: scale(0.7);
  margin-top: -17%;
}
