.listing-header {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 5%;
  }

  .my-listings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; 
  }

  .profile-header {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 5%;
  }

 