.inline-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.inline-container p {
  margin-right: 80px; /* Space between the text and the button */
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.delete-button {
  z-index: 10;
}

.product-attributes {
  margin-top: 1rem;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}
.product-image {
  width: 100px;
  height: 200px;
  object-fit: contain;
}