.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
}

/* CSS styles for image */
.container img {
  position: flex;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  max-height: 50%;
  max-width: 100%; /* Ensure the image does not exceed its container */
}

.bold-text {
  font-weight: 550;
}

.img {
  opacity: 0.9; /* Adjust the value between 0 and 1 for desired opacity */
  filter: brightness(0.7);
}

/* CSS styles for text overlay */
.container .overlay-text {
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  color: white; /* Text color */
  font-size: 20px; /* Font size */
  z-index: 1; /* Ensure text is above the black overlay */
  padding-top: 10%; /* Padding around the text */
  padding-left: 20%;
  padding-bottom: 0%;
  padding-right: 20%;
}

.add-listing-button {
  background-color: #000;
  color: white;
  padding: 1% 2%;
}

.add-listing-button:hover {
  background-color: rgb(246, 242, 149); /* Darken the background color on hover */
  color: black;
}

.shopsection {
  padding-right: 10%;
  padding-left: 10%;
}
