/* styles.css */
.shop-section {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 1rem; /* Adjust spacing between divs using relative units */
}

.products-container {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products per row */
  gap: 20px;
}

.type-name {
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
